@import '~bulma/sass/utilities/initial-variables'
@import '~bulma/sass/utilities/functions'

// v1
$pink: #f8a5c2
$pink-invert: findColorInvert($pink)
$purple: #786fa6
$purple-invert: findColorInvert($purple)
$blue: #546de5
$blue-invert: findColorInvert($blue)
$charcoal: #3a435e
$charcoal-invert: findColorInvert($charcoal)

// v(odka)2
$soviet: #BD271A
$soviet-invert: findColorInvert($soviet)
$yellow: #FAD749
$yellow-invert: findColorInvert($yellow)
$gray: #C0BCB5
$gray-invert: findColorInvert($gray)
$green: #4A6C6F
$green-invert: findColorInvert($green)
$violet: #846075
$violet-invert: findColorInvert($violet)

$primary: $soviet
$primary-invert: $soviet-invert
$info: $green
$info-invert: $green-invert
$danger: $violet
$danger-invert: $violet-invert
$warning: $yellow
$warning-invert: $yellow-invert
$link: $danger
$link-invert: $danger-invert

@import '~bulma/bulma'

.white
  background: white
